<%- include('../partials/header'); -%>
    <link rel="stylesheet" href="/css/admin-settings.css">
    </head>

    <body>
        <section class="colored-section" style="padding:0 15%;">
            <%- include('../partials/navbar'); -%>
        </section>
        <section class="container-fluid" id="settings-pane">
            <div class="shadow container-fluid" style="background-color: white;">
                <div class="text-center" style="padding: 1.5rem 1.5rem 0;">
                    <h1 style="margin: 0;">Quản lý</h1>
                </div>
                <div class="row justify-content-center p-3">
                    <div class="col-md-12 col-lg-10" id="pane-column">
                        <%- include('settings-nav'); -%>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="text-center">
                                    <%- include('../partials/messages'); -%>
                                </div>
                                <div class="tab-pane fade show active" id="nav-category" role="tabpanel" aria-labelledby="nav-category-tab">
                                    <div class="row">
                                        <% Category.forEach(element=> { %>
                                            <div class="col-lg-4 col-md-6 category-card">
                                                <div class="card h-100" id="<%= element.brand %>">
                                                    <div class="card-header text-center" style="font-weight: bold;">
                                                        <%= element.brand %>
                                                    </div>
                                                    <div class="card-body">
                                                        <% element.subBrand.forEach(subBrand=> { %>
                                                            <p class="card-text">
                                                                <%= subBrand %>
                                                            </p>
                                                            <% }) %>
                                                    </div>
                                                    <div class="card-footer text-right">
                                                        <a type="button" href="/admin/settings/category/<%= _.kebabCase(element.brand.normalize('NFD').replace(/[\u0300-\u036f]/g, '')) %>" class="btn btn-outline-secondary border-0 rounded-circle shadow-none" id="editBtn" data-toggle="tooltip" data-placement="top" title="Sửa danh mục"><i class="far fa-edit fa-2x"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                                <div class="col-lg-4 col-md-6 category-card">
                                                    <div class="card h-100 border-0">
                                                        <div class="card-body align-items-center d-flex justify-content-center">
                                                            <button type="button" class="btn btn-outline-primary border-0 rounded-circle shadow-none" id="plusBtn" data-toggle="modal" data-target="#staticBackdrop">
                                                                <i class="fas fa-plus fa-3x"></i>
                                                            </button>
                                                            <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                                <div class="modal-dialog modal-dialog-centered">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title" id="staticBackdropLabel">Thêm danh mục mới</h5>
                                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form action="/admin/settings/category" method="POST" id="category-form">
                                                                                <label for="brand">Mặt hàng</label>
                                                                                <div class="input-group mb-3">
                                                                                    <!-- <input type="text" class="form-control text-right" name="brand" id="brand" autocomplete="off" required> -->
                                                                                    <input type="text" class="form-control text-right" name="brand" id="brand" autocomplete="off" required list="brandList">
                                                                                    <datalist id="brandList">
                                                                                        <% Category.forEach(element=> { %>
                                                                                            <option value="<%= element.brand %>">
                                                                                                <%= element.brand %>
                                                                                            </option>
                                                                                            <% }) %>
                                                                                    </datalist>
                                                                                </div>
                                                                                <label for="subBrand">Loại sản phẩm</label>
                                                                                <div class="input-group mb-3">
                                                                                    <input type="text" class="form-control text-right" name="subBrand" id="subBrand" autocomplete="off" required>
                                                                                </div>
                                                                                <div class="text-right">
                                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                                                    <button type="submit" class="btn btn-primary" id="addNewCateBtn">Thêm</button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-product" role="tabpanel" aria-labelledby="nav-product-tab">Neque viverra justo nec ultrices dui. Neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Sed ullamcorper morbi tincidunt ornare massa eget egestas. Porttitor eget dolor morbi non. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus. Tellus mauris a diam maecenas sed enim ut. Nisi scelerisque eu ultrices vitae. Nec feugiat in fermentum posuere urna nec tincidunt praesent. Suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Turpis massa tincidunt dui ut ornare lectus sit amet. Gravida quis blandit turpis cursus in hac habitasse. Feugiat sed lectus vestibulum mattis. Risus in hendrerit gravida rutrum quisque non tellus orci ac. Leo in vitae turpis massa sed elementum tempus egestas sed. In fermentum posuere urna nec tincidunt praesent semper. Pulvinar sapien et ligula ullamcorper. Mauris pellentesque pulvinar pellentesque habitant.</div>
                                <div class="tab-pane fade" id="nav-account" role="tabpanel" aria-labelledby="nav-account-tab">
                                    <div class="alert alert-info alert-dismissible fade show" id="resetAlert" role="alert" style="display: none;">
                                        <p id="resetMsg" style="margin: 0;"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="alert alert-danger alert-dismissible fade show" id="deleteAlert" role="alert" style="display: none;">
                                        <p id="deleteMsg" style="margin: 0;"></p>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped" style="margin:0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% var count=0; %>
                                                    <% for( let index=0; index < User.length; index++ ) { %>
                                                        <% if (User[index].email !=='admin' ) { %>
                                                            <% count+=1; %>
                                                                <form action="/admin/settings/accounts" method="POST" class="account-form">
                                                                    <tr>
                                                                        <th scope="row">
                                                                            <%= count%>
                                                                        </th>
                                                                        <td>
                                                                            <%= User[index].name%>
                                                                        </td>
                                                                        <input type="hidden" name="username" value="<%=User[index].name %>">
                                                                        <td class="emailField">
                                                                            <%= User[index].email%>
                                                                        </td>
                                                                        <input type="hidden" name="email" value="<%=User[index].email %>">
                                                                        <td class="text-right">
                                                                            <button type="submit" name="action" value="reset" class="btn shadow-none resetPasswordBtn" data-toggle="tooltip" data-placement="top" title="Reset mật khẩu"><i class="fas fa-cog"></i></button>
                                                                            <button type="submit" name="action" value="delete" class="btn shadow-none delAccountBtn" data-toggle="tooltip" data-placement="top" title="Xóa tài khoản"><i class="fas fa-user-times"></i></button>
                                                                        </td>
                                                                    </tr>
                                                                </form>
                                                                <% } %>
                                                                    <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(".resetPasswordBtn").click(function () {
                var row = $(this).closest("tr");
                var email = (row.find(".emailField").text()).trim();
                console.log(email);
                $('#resetAlert').css('display', 'block');
                $('#resetMsg').html(`${email} đã được reset mật khẩu!`);
                setTimeout(function () {
                    $(".account-form").submit();
                }, 500);
            });

            $(".delAccountBtn").click(function () {
                var row = $(this).closest("tr");
                var email = (row.find(".emailField").text()).trim();
                $('#deleteAlert').css('display', 'block');
                $('#deleteMsg').html(`${email} đã bị xóa!`);
                setTimeout(function () {
                    $(".account-form").submit();
                }, 500);
            });

            const categoryTabHeight = $('#nav-category').outerHeight(true);
            const productTabHeight = $('#nav-product').outerHeight(true);
            const accountTabHeight = $('#nav-account').outerHeight(true);
            const maxTabHeight = Math.max(categoryTabHeight, productTabHeight, accountTabHeight);
            $('#nav-category, #nav-product, #nav-account').css('height', maxTabHeight);

            $(window).resize(() => {
                if ($(window).width() <= 1080) {
                    $('#nav-category, #nav-product, #nav-account').css('height', '');
                }
            });

            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })

        </script>
        <%- include('../partials/footer'); -%>