<%- include('partials/header'); -%>
    <link rel="stylesheet" href="/css/forgot-password.css">
    <link rel="stylesheet" href="/css/otp.css">
    <script defer src="/js/otp.js"></script>
    </head>

    <body>
        <section class="colored-section" style="padding:0 15%;">
            <%- include('partials/navbar'); -%>
        </section>
        <section class="forgot-password-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10">
                        <div class="wrap d-md-flex justify-content-center">
                            <div class="forgot-wrap p-4 p-md-5">
                                <%- include ('partials/messages'); -%>
                                    <div class="d-flex">
                                        <div class="w-100 text-center">
                                            <h3 class="mb-4">Quên mật khẩu</h3>
                                        </div>
                                    </div>
                                    <form action="/user/forgot-password" method="POST">
                                        <div class="form-group mb-3">
                                            <label class="label" for="name">Email</label>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="example@gmail.com" value="<%= typeof email != 'undefined' ? email : '' %>">
                                        </div>
                                        <div class="form-group mt-3">
                                            <button type="submit" id="continueBtn" class="form-control btn rounded submit px-3" style="background-color: #FFAB4C; color: white;">Tiếp tục</button>
                                        </div>
                                    </form>
                                    <div class="text-center" id="otp">
                                        <div class="prompt">
                                            Nhập mã OTP được gửi đến email tương ứng!
                                        </div>
                                        <form action="/user/forgot-password/verify-otp" class="digit-group" style="margin-bottom: 20px;" data-group-name="digits" data-autosubmit="false" autocomplete="off" method="POST">
                                            <%- include('partials/otp'); -%>
                                                <div class="otp-footer" style="margin-top: 25px;">
                                                    <button type="submit" class="btn btn-primary" type="submit" id="verifyOtpBtn">Xác nhận</button>
                                                </div>
                                        </form>
                                        <div class="otp-footer">
                                            <form action="/user/forgot-password/resend-otp" method="POST">
                                                <button type="submit" class="btn btn-primary" type="submit" id="resendOtpBtn">Gửi lại</button>
                                            </form>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function () {
                $('#continueBtn').click(function () {
                    $('#otp').css('display', 'block');
                });
            });

            $('#resendOtpBtn').click(() => {
                alert('Mã OTP mới được gửi đến email của bạn!');
            });
        </script>
        <%- include('partials/footer'); -%>