<%- include('partials/header'); -%>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/otp.css">
    <script async src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>

    <body>
        <section class="colored-section" style="padding:0 15%;">
            <%- include('partials/navbar'); -%>
        </section>
        <div class="container my-5 px-5">
            <%- include ('partials/messages'); -%>
                <form id="registerForm" action="/user/register" method="POST">
                    <h3 class="font-weight-bold text-center">ĐĂNG KÝ</h3>
                    <p class="py-3 font-weight-light text-center">Nếu bạn chưa có tài khoản, hãy điền thông tin đăng ký tại đây</p>
                    <div class="form-group">
                        <label for="name" class="form-group font-weight-bold"> Họ và tên </label>
                        <input type="name" class="form-control" id="name" name="name" placeholder="Nhập họ và tên của bạn" value="<%= typeof name != 'undefined' ? name : '' %>">
                    </div>

                    <div class="form-group">
                        <label for="email" class="font-weight-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Nhập Email của bạn" value="<%= typeof email != 'undefined' ? email : '' %>">
                        <small class="form-text text-muted">Email should be in lowercase.</small>
                    </div>

                    <div class="form-group form-row">
                        <div class="form-group col-md-6">
                            <label for="password" class="font-weight-bold">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu của bạn" value="<%= typeof password != 'undefined' ? password : '' %>">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password2" class="font-weight-bold">Xác minh</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Xác minh lại mật khẩu" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6Le1-LEdAAAAAD9Y_HYwdvgVppiVBrVm2ee_lFdP"></div>
                    </div>

                    <div class="container-fluid text-center mt-5">
                        <button type="submit" class="btn btn-primary btn-lg" id="registerBtn" style="width: 8.5rem;">Đăng ký</button>
                    </div>
                </form>
                <div class="text-center" id="otp">
                    <div class="prompt">
                        Enter the OTP code sent to according email to register!
                    </div>
                    <form action="/user/register/verify-otp" class="digit-group" style="margin-bottom: 20px;" data-group-name="digits" data-autosubmit="false" autocomplete="off" method="POST">
                        <input type="text" id="digit-1" name="digit-1" data-next="digit-2" />
                        <input type="text" id="digit-2" name="digit-2" data-next="digit-3" data-previous="digit-1" />
                        <input type="text" id="digit-3" name="digit-3" data-next="digit-4" data-previous="digit-2" />
                        <span class="splitter">&ndash;</span>
                        <input type="text" id="digit-4" name="digit-4" data-next="digit-5" data-previous="digit-3" />
                        <input type="text" id="digit-5" name="digit-5" data-next="digit-6" data-previous="digit-4" />
                        <input type="text" id="digit-6" name="digit-6" data-previous="digit-5" />
                        <div class="otp-footer" style="margin-top: 25px;">
                            <button class="btn btn-primary" type="submit" id="verifOtpBtn">Verify OTP</button>
                        </div>
                    </form>
                    <div class="otp-footer">
                        <form action="/user/register/resend-otp" method="POST">
                            <button class="btn btn-primary" type="submit" id="resendOtpBtn">Resend OTP</button>
                        </form>
                    </div>
                </div>
                <div class="container-fluid text-center mt-5" style="padding: 3% 7%;">
                    <div class="my-2">
                        <a class="btn btn-width btn-google" href="/auth/google" role="button">
                            <i class="fab fa-google"></i>
                            Sign Up with Google
                        </a>
                    </div>
                    <div class="my-2">
                        <a class="btn btn-width btn-facebook" href="#" role="button">
                            <i class="fab fa-facebook"></i>
                            Sign Up with Facebook
                        </a>
                    </div>
                </div>
        </div>

        <script>
            $(document).ready(function () {
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
            $('.digit-group').find('input').each(function () {
                $(this).attr('maxlength', 1);
                $(this).on('keyup', function (e) {
                    var parent = $($(this).parent());

                    if (e.keyCode === 8 || e.keyCode === 37) {
                        var prev = parent.find('input#' + $(this).data('previous'));

                        if (prev.length) {
                            $(prev).select();
                        }
                    } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                        var next = parent.find('input#' + $(this).data('next'));

                        if (next.length) {
                            $(next).select();
                        } else {
                            if (parent.data('autosubmit')) {
                                parent.submit();
                            }
                        }
                    }
                });
            });
            $(document).ready(function () {
                $('#registerBtn').click(function () {
                    $('#otp').css('display', 'block');
                });
            });
            $('#resendOtpBtn').click(() => {
                alert('New OTP code has been sent to your email');
            });
        </script>
        <%- include('partials/footer'); -%>