<%- include('partials/header'); -%>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/otp.css">
    <script async src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script defer src="/js/otp.js"></script>
    </head>

    <body>
        <section class="colored-section" style="padding:0 15%;">
            <%- include('partials/navbar'); -%>
        </section>
        <div class="container my-5 px-5">
            <%- include ('partials/messages'); -%>
                <form id="registerForm" action="/user/register" method="POST">
                    <h3 class="font-weight-bold text-center">ĐĂNG KÝ</h3>
                    <p class="py-3 font-weight-light text-center">Nếu bạn chưa có tài khoản, hãy điền thông tin đăng ký tại đây</p>
                    <div class="form-group">
                        <label for="name" class="form-group font-weight-bold"> Họ và tên </label>
                        <input type="name" class="form-control" id="name" name="name" placeholder="Nhập họ và tên của bạn" value="<%= typeof name != 'undefined' ? name : '' %>">
                    </div>

                    <div class="form-group">
                        <label for="email" class="font-weight-bold">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Nhập Email của bạn" value="<%= typeof email != 'undefined' ? email : '' %>">
                        <small class="form-text text-muted">Email should be in lowercase.</small>
                    </div>

                    <div class="form-group form-row">
                        <div class="form-group col-md-6">
                            <label for="password" class="font-weight-bold">Mật khẩu</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Nhập mật khẩu của bạn" value="<%= typeof password != 'undefined' ? password : '' %>">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password2" class="font-weight-bold">Xác minh</label>
                            <input type="password" class="form-control" id="password2" name="password2" placeholder="Xác minh lại mật khẩu" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6Le1-LEdAAAAAD9Y_HYwdvgVppiVBrVm2ee_lFdP"></div>
                    </div>

                    <div class="container-fluid text-center mt-5">
                        <button type="submit" class="btn btn-primary" id="registerBtn" style="width: 17rem;">Đăng ký</button>
                    </div>
                </form>
                <div class="text-center" id="otp">
                    <div class="prompt">
                        Nhập mã OTP được gửi đến email tương ứng!
                    </div>
                    <form action="/user/register/verify-otp" class="digit-group" style="margin-bottom: 20px;" data-group-name="digits" data-autosubmit="false" autocomplete="off" method="POST">
                        <%- include('partials/otp'); -%>
                            <div class="otp-footer" style="margin-top: 25px;">
                                <button class="btn btn-primary" type="submit" id="verifyOtpBtn">Xác nhận</button>
                            </div>
                    </form>
                    <div class="otp-footer">
                        <form action="/user/register/resend-otp" method="POST">
                            <button class="btn btn-primary" type="submit" id="resendOtpBtn">Gửi lại</button>
                        </form>
                    </div>
                </div>
                <span class="d-block text-center text-muted my-4">— or —</span>
                <div class="container-fluid text-center" style="padding: 0 7% 3%;">
                    <div class="my-2">
                        <a class="btn btn-width btn-google" href="/auth/google" role="button">
                            <i class="fab fa-google"></i>
                            Đăng nhập bằng Google
                        </a>
                    </div>
                    <div class="my-2">
                        <a class="btn btn-width btn-facebook" href="#" role="button">
                            <i class="fab fa-facebook"></i>
                            Đăng nhập bằng Facebook
                        </a>
                    </div>
                </div>
        </div>

        <script>
            $(document).ready(function () {
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });
            $(document).ready(function () {
                $('#registerBtn').click(function () {
                    $('#otp').css('display', 'block');
                });
            });
            $('#resendOtpBtn').click(() => {
                alert('Mã OTP mới được gửi đến email của bạn!');
            });
        </script>
        <%- include('partials/footer'); -%>