<%- include('partials/header'); -%>
    <link rel="stylesheet" href="/css/postproduct.css">

    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    </head>

<body>
<section class="colored-section" style="padding:0 15%;">
    <%- include('partials/navbar'); -%>
</section>


<div class="container my-5 px-5">
    <div class="row">
        <% Product.forEach(element=> {%>
            <div class="col-sm-4 mb-4">
                <div class="card">

                    <img class="card-img-top" src="/public/images/<%= element.id %>/1.jpg" width="100" height="300">
                    <div class="card-body">
                        <h4 class="card-title"><%= element.name %></h4>
                        <p class="card-text text-danger"><%= element.currentPrice %></p>
                    </div>
                    <script src="../js/view-product-list.js"></script>

                    <div class="card-footer text-muted d-flex justify-content-center">
                        <a class="btn btn-md btn-outline-primary btn-block" href="/view-product-list/viewproduct/<%= element.id %>" role="button">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Detail
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>

    </div>
</div>













<%- include('partials/footer'); -%>
