<%- include('../partials/header'); -%>
<!--    <link rel="css/post-product.css" href="public/css/post-product.css">-->
<link rel="stylesheet" href="../css/post-product.css">
    <script src="../js/post-product.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
    </head>

    <body>
        <section class="colored-section" style="padding:0 15%;">
            <%- include('../partials/navbar'); -%>
        </section>

        <form method="post" enctype="multipart/form-data">
            <div class="container my-5 px-5">
                <%- include ('../partials/messages'); -%>
                    <h3 class="container font-weight-bold text-center">ĐĂNG SẢN PHẨM ĐẤU GIÁ</h3>
                    <div class="container form-group">
                        <label class="font-weight-bold pl-3"> Tên sản phẩm </label>
                        <input type="text" class="form-control " id="name" name="name" placeholder="Nhập tên sản phẩm đấu giá" autofocus>
                    </div>
                    <div class="container">
                        <div class="card ">
                            <div class="card-header d-flex justify-content-between " style="background-color: #ffffff">
                                <label class="font-weight-bold">Ảnh sản phẩm</label>
                                <form class="form" action="#" method="post" id="form">
                                    <input type="file" name="image" id="image" multiple="" class="d-none" onchange="image_select()">
                                    <button class="btn btn-sm btn-primary" type="button" onclick="document.getElementById('image').click()">Choose Images</button>
                                </form>
                            </div>
                            <div class="card-body d-flex flex-wrap justify-content-start" id="container">
                                <!-- Image will be show here-->
                            </div>
                        </div>
                    </div>
                    <div class="container form-group">
                        <label class="font-weight-bold pl-3">Giá khởi điểm</label>
                        <input type="number" min="1" step="1" class="form-control" id="startPrice" name="startPrice" placeholder="Nhập giá khởi điểm của sản phảm" id="inputPrice">
                    </div>
                    <div class="container form-group">
                        <label class="font-weight-bold pl-3">Bước giá</label>
                        <input type="number" min="1" step="1" class="form-control" id="stepPrice" name="stepPrice" placeholder="Nhập bước giá" id="stepPrice">
                    </div>

                    <div class="container form-group">
                        <label class="font-weight-bold pl-3">Giá mua ngay</label>
                        <input type="number" min="1" step="1" class="form-control" id="endPrice" name="endPrice" placeholder="Nhập giá mua ngay (nếu có)" id="nowPrice">
                    </div>

                    <div class="container form-group">
                        <label class="font-weight-bold pl-3">Mô tả sản phẩm</label>
                        <textarea class="container" id="description" name="description"></textarea>
                    </div>
                    <script>
                        ClassicEditor.create(document.querySelector('#description')).catch(error => { console.error(error) });
                    </script>
                    <div class="container form-group">
                        <label class="font-weight-bold pl-3" for="inputState">Mặt hàng</label>
                        <select id="inputState" class="form-control" id="brand" name="brand">
                            <option selected disabled hidden>Choose a brand</option>
                            <% Category.forEach(element=> {%>
                                <option value='<%= element.brand %>'>
                                    <%= element.brand%>
                                </option>
                                <% }) %>
                        </select>
                    </div>
                    <div class=" container form-group">
                        <label class="font-weight-bold pl-3" for="inputState2">Loại sản phẩm</label>
                        <select id="inputState2" class="form-control" id="subBrand" name="subBrand">
                            <script>
                                const selectElement = document.querySelector('#inputState');
                                selectElement.addEventListener('change', (event) => {
                                    var selectedBrand = event.target.value;
                                    var currentBrand, subBrands;
                                    '<% Category.forEach(element => { %>'
                                    currentBrand = '<%=element.brand%>';
                                    if (currentBrand === selectedBrand) {
                                        subBrands = '<%=element.subBrand%>'
                                    }
                                    '<% }) %>'
                                    const subBrandList = subBrands.split(',');

                                    const selectElement2 = document.querySelector('#inputState2');
                                    const selectElement2Size = selectElement2.length;
                                    if (selectElement2Size != 0) {
                                        for (var i = selectElement2Size - 1; i >= 0; i--) {
                                            selectElement2.remove(i);
                                        }
                                    }
                                    for (var item in subBrandList) {
                                        var optionTag = document.createElement('option');
                                        optionTag.value = subBrandList[item];
                                        optionTag.innerHTML = subBrandList[item];
                                        selectElement2.options.add(optionTag);
                                    }
                                });
                            </script>
                        </select>
                    </div>
                    <div class="container form-group mt-3">
                        <!--                    <form>-->
                        <!--                        <input class="ml-3" type="checkbox" id="autoExtend" name="autoExtend">-->
                        <!--                        <label class="font-weight-bold pl-3">Sản phẩm tự gia hạn</label>-->


                        <!--                    </form>-->

                            <label for="datetime" class="font-weight-bold">Time:</label>
                            <input type="datetime-local" id="datetime" name="datetime">



                    </div>
<!--                    <div class="container form-group">-->
<!--                        <label class="font-weight-bold pl-3">Khoảng thời gian (ngày)</label>-->
<!--                        <input type="number" min="1" step="1" class="form-control" id="period" name="period" placeholder="Nhập giá khoảng thời gian (Không quá 7 ngày)" id="nowPrice">-->
<!--                    </div>-->
                    <div class="container form-group text-center my-5">
                        <button type="submit" class="btn btn-primary btn-lg font-weight-bold" onchange="get_image_data()"> ĐĂNG SẢN PHẨM </button>
                    </div>

            </div>
        </form>

        <%- include('../partials/footer'); -%>
