<%- include('../partials/header'); -%>
<link rel="stylesheet" href="css/seller-profile.css" xmlns="http://www.w3.org/1999/html">
<script src="js/product.js"></script>

</head>

<body>
<script>
    $('#fuMain').fileinput({
        dropZoneEnabled: false,
        maxFileCount: 5,
        allowedFileExtensions: ['jpg', 'png', 'gif'],
        theme: 'fa',
        language: 'vi',
    });
</script>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/"><img src="/images/auction-logo.png" alt="logo" class="d-inline-block align-top">Auct Boi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center"  id="collapsibleNavbar">
        <ul class="nav navbar-nav" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#profileseller" role="tab" aria-controls="home" aria-selected="true">Profile</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#sellingitems" role="tab" aria-controls="profile" aria-selected="false">Selling Items</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#solditems" role="tab" aria-controls="contact" aria-selected="false">Sold Items</a>
            </li>
        </ul>
    </div>
</nav>


<hr>
<div class="container-fluid bootstrap snippet">
    <div class="row" style="margin-bottom: 200px;">
        <div class="col-sm-3">
            <img src="/images/Profile/<%= user.image %> " class="avatar img-circle img-thumbnail" alt="avatar">
            <h1 style="text-align: center;"><%= user.name %></h1>
            </hr><br>
<!--            <ul class="list-group">-->
<!--                <li class="list-group-item text-muted" style="font-size: 15px;">Activity <i class="fa fa-dashboard fa-1x"></i></li>-->
<!--                <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--                    Bidding-->
<!--                    <span class="badge  badge-pill">125</span>-->
<!--                </li>-->
<!--                <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--                    Items Sold-->
<!--                    <span class="badge  badge-pill">2</span>-->
<!--                </li>-->
<!--                <li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--                    Reviews-->
<!--                    <span class="badge  badge-pill">1</span>-->
<!--                </li>-->
<!--            </ul>-->

        </div><!--/col-3-->

        <div class="col-sm-9" >
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profileseller" role="tabpanel" aria-labelledby="home-tab">
                    <hr>
                    <form action="/seller/profile/<%= user._id %>" method="POST" enctype="multipart/form-data">                        <div class="form-group">
                            <div class="col-xs-6" style="width: 100%;margin-bottom: 20px;margin-top: 20px;">
                                <img src="/images/Profile/<%= user.image %> " alt="avatar" class="img-thumbnail" style="width: 139.981132px;height: 123.981132px;border-radius: 29px;margin-right: 20px;">
                                <label for="first_name" class="font_size1"><span>Adam</span></label>
                                <input type="file" class="text-center center-block file-upload"  id="fuMain" name="fuMain" style="margin-left: 0px; margin-top: 10px;">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6" style="width: 100%;margin-bottom: 20px;margin-top: 20px;">
                                <label for="first_name" class="font_size1"><span>Name</span></label>
                                <input style="font-size: 14px;" type="text" class="form-control" name="name" id="name" value="<%= user.name %> " title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6" style="width: 100%;margin-bottom: 20px;">
                                <label for="email" class="font_size1" ><span>Email</span></label>
                                <input style="font-size: 14px;" type="email" class="form-control" name="email" id="email" value="<%= user.email %>" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group" >

                            <div class="col-xs-6" style="width: 100%;margin-bottom: 20px;">
                                <label for="last_name" class="font_size1" ><span>Phone number</span></label>
                                <input style="font-size: 14px;" type="text" class="form-control" name="mobile" id="mobile" value="<%= user.phone %>" title="enter mobile if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6"style="width: 100%;margin-bottom: 20px;">
                                <label for="last_name" class="font_size1"><span>Address</span></label>
                                <input  style="font-size: 14px;" type="text" class="form-control" name="address" id="address" value="<%= user.address %>" title="enter address if any.">
                            </div>
                        </div>
                        <div class="form-group" >
                            <div class="col-xs-6" style="width: 100%;margin-bottom: 20px;">
                                <label for="last_name" class="font_size1"><span>Password</span></label>
                                <input style="font-size: 14px;" type="text" class="form-control"  value="*******" title="enter mobile if any.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6" style="width: 100%;margin-bottom: 20px;">
                                <div class="row text-center">
                                    <a style="margin-left: 15px;" href="/seller/profile/changepassword" class="btn btn-lg btn-danger" >change password</a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12"><!--                                                                        <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-ok-sign"></i>Save</button>-->
                                <button type="submit"  class="btn btn-primary btn-lg btn-block" style="background-color: green;" >Save</button>
                            </div>
                        </div>
                    </form>

                    <hr>
                </div>
                <div class="tab-pane fade" id="sellingitems" role="tabpanel" aria-labelledby="profile-tab">
                    <hr>
                    <% Product.forEach(element=> {%>
                    <div class="container" style="margin-top: 40px;">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Category</th>
                                <th>Times remaining</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a class="info_ava" href="#"> <img src="images/logo-clock/image1.png" lazyloading="" style="height: 90px;width: 90px; ">  </a> rolex </td>
                                <td>Điện tử</td>
                                <td>1d 2h 3p 4s</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <% }) %>
                </div>
                <div class="tab-pane fade"  id="solditems" role="tabpanel" aria-labelledby="contact-tab">
                    <hr>
                    <div class="container">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th>Item</th>
                                <th>Upvote</th>
                                <th>Downvote</th>
                                <th>Cancel</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td style="width:9%">IphoneX</td>
                                <td><button type="button" class="btn btn-primary active" data-toggle="modal" data-target="#review"  >+1</button></td>
                                <td><button type="button" class="btn btn-primary disabled" data-toggle="modal" data-target="#review" >-1</button></td>
                                <td><button type="button" class="btn btn-primary disabled"  >cancel</button></td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mx-auto">We need your password to make these changes!</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="font-weight-bold">Password <span class="text-danger">*</span></label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="***********" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit_password" class="btn btn-lg">Ok</button>

                        <button class="btn btn-lg" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="review">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title mx-auto">We need your password to make these changes!</h3>
            </div>
            <div class="modal-body">
                <form>
                    <td><input placeholder="Write your review here" style="width:100%;max-width: 473px;"></input></td>
                </form>
            </div>
            <div class="form-group">

                <button type="submit" name="submit_review" class="btn btn-lg">Ok</button>

                <button class="btn btn-lg" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>


<%- include('../partials/footer'); -%>
